<div class="teal lighten-2" style="height:100vh">

  <div class="container">
    <div class="row" materialize>
      <div class="col s12 m6 offset-m3">


        <div class="card-panel z-depth-5" style="margin-top:90px;">
          <h4 class="center"> Sign In</h4>
          <div class="row">
            <form class="col s12 m12">
              <div class="row">

                <div class="input-field col s12 m12">
                  <i class="material-icons prefix" style="top:10px;">perm_identity</i>
                  <input id="icon_prefix" type="text" class="validate" required minlength="6" [(ngModel)]="model.username" [ngModelOptions]="{standalone: true}">
                  <label for="icon_prefix">Email or Mobile</label>
                </div>

                <div class="input-field col s12 m12">
                  <i class="material-icons prefix" style="top:10px;">lock_open</i>
                  <input id="icon_password" type="password" class="validate" required minlength="6" maxlength="30" [(ngModel)]="model.password"
                    [ngModelOptions]="{standalone: true}">
                  <label for="icon_password">Password</label>
                </div>

              </div>

              <button class="btn right" type="submit" (click)="login()" name="action">Sign In
                <i class="fa fa-sign-in right"></i>
              </button>
            </form>

          </div>
          <!--row-->

        </div>
        <!--card-->


      </div>
      <!--col-->
    </div>
    <!--row-->
  </div>
  <!--conatiner-->
</div>

<!--<div class="login"> Welcome Please login</div>
<div class="container ">
  <div materialize class="col s12">

    <div class="row">
      <div class="input-field row s6">
        <input class="validate active" id="user_email" type="text" placeholder="User Name" [(ngModel)]="model.username" [ngModelOptions]="{standalone: true}">
        <label for="user_email" class="active">User Name/Email id</label>
      </div>
      <div class="input-field row s6">
        <input class="ng-valid ng-dirty ng-touched flow-text" type="password" id="password" placeholder="Password" [(ngModel)]="model.password"
          [ngModelOptions]="{standalone: true}" />
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6"></div>
      <div class="input-field col s6">
        <a class="waves-effect waves-light btn" (click)=login()>
          <i class="material-icons left">key</i>Login
        </a>
      </div>
    </div>
  </div>
</div>-->