<!--<div class="other-plugin" style="min-height: 255px;">
  <div attr.bind-html-compile="row.pluginHtml" class="width-12">
      <div froala-edtior="" class="ng-scope">
        <div class="text-editor" id="1470986671642" em-height-source="">
          <div class="container-fluid row s-logs-col text-editor-container">
            <div class="col l12 m12 s12">
              <div class="" style="">            
                <textarea [froalaEditor]="titleOptions" [(froalaModel)]="editorContent" [(ngModel)]="editorContent"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>-->