<div class="container">
  <table class="striped">
    <thead>
      <tr>
        <th data-field="id">Topic Title</th>
        <th data-field="name">CreatedBy</th>
        <th data-field="price">UpdatedBy</th>
        <th data-field="price">Edit</th>
        <th data-field="price">Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let topic of model">
        <td>{{topic.topic_title}}</td>
        <td>{{topic.created_by}}</td>
        <td>{{topic.updated_by}}</td>
        <td>
          <button class="btn-floating btn-Medium green" title="edit" (click)="editTopic(topic.topic_id)">
            <i class="Medium material-icons">mode_edit</i>
            </button>
        </td>
        <td>
          <a class="btn-floating btn-Medium red" title="remove" (click)="removeItem(topic)">
            <i class="Medium material-icons">delete</i>
          </a>
        </td>

      </tr>
    </tbody>
  </table>
      <button class="waves-effect waves-light btn" (click)="showTopic()"><i class="material-icons left">add</i>Add</button>    
</div>